.toolbar {
    position: static;
}
.detailsWindow {
    position: absolute;
    left: auto;
    width: 34%;
    right: 0;
}
body {
    margin-top: 0;
}
#logo {
    position: absolute;
    right: 0;
}
#searchRelated {
    margin-left: 4px;
}