<div class="toolbar">&nbsp;Buscar cines o películas: <input type="text" id="searchInput"> <span class="status" style="visibility: hidden" id="searchingSpan">buscando...</span></div>
<fieldset class="lastRecordsFieldset">
<legend>Visitas recientes</legend>
<div class="lastRecords" id="lastRecords"></div>
</fieldset>
<div class="detailsWindow" id="detailsWindow" style="display: none">
  <div class="title"><span id="detailsName"></span> <a href="#" id="searchRelated">cines</a></div>
  <div class="info"><span id="detailsInfo"></span></div>
  <div id="detailsDescription"></div>
</div>
<div id="resultList"></div>